.recenter-image {
  position: absolute;
  right: 2px;
  top: 130px;
  z-index: 3;
  padding: 1px;
  padding-bottom: 3px;
  cursor: pointer;
  width: 23px;
  background-color: rgba(32, 32, 43, 1);
  border-radius: 0 0 5px 5px;
}