.svg-map-wrapper {
	position: absolute;
	width: 60px;
	height: 130px;
	left: 0px;
	top: 5px;
	z-index: 4;
	display: grid;
	background-color: rgba(32, 32, 43, 1);
}
.svg-map {
	padding-bottom: 10px;
	padding-top: 10px;
}