.area-filter-wrapper {
    display: grid;
    grid-template-rows: min-content auto;
    background-color: rgba(33, 33, 43, 1);
    overflow: hidden;
    border-radius: 10px;
}
.area-filter {
    display: grid; 
    grid-template-rows: auto 60px; 
    overflow: hidden;
}